.accordian-main{
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin:2px;
}

.body{
    position: absolute;
    width: 100%;
    top: -10px;
    transition: 1s;
}

.body-active{
    transition: 1s;
    position: relative;
    top: 0;
}