@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Figtree:ital@0;1&family=Poppins:wght@400;500;600&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.card-main{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,191,67,1) 0%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content{
  box-sizing: border-box;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
}

.form-class{

}